* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   
    font-size: 10px;
}


:root {
    /* variables de color */
    --azul :#345FB4 ;
    --azulclaro:#6789CA;
    --negro:#313131;
    --gris :#777777;
    --grisclaro :#A5A5A5;
    /* variables de tamaño de letra */
    --h1 : 25rem;
    --h2 : 3rem;
    --h3 : 14rem;
    --parrafo : 1.5rem;
}


/* Estructura de las secciones */

.section {
   position: absolute;
width: 375px;
height: 813px;
left: 0px;
top: 0px;

background: linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);
}

.section-body {
    max-width: 130rem;
    height: auto;
    margin: auto;
}